<div class="container">
    <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-5 mt-5">
            <img src="https://www.masbarbershop.com/about/biz.jpg" alt="">
        </div>
        <div class="col-6">
            <br>
            <h2>Lorem, ipsum.</h2>
            <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ab, iure hic voluptatibus fugit, dolorem minus officia iste architecto minima commodi voluptatum consequuntur quos! Voluptatem delectus nisi illum reiciendis velit sapiente perspiciatis cumque debitis atque quos laborum quo porro totam expedita ab quis enim at, eius dolor qui alias eveniet veniam architecto. Facilis asperiores voluptatibus tenetur velit hic dignissimos tempora molestiae, eveniet autem rem expedita cum mollitia numquam ea distinctio officia praesentium dolores? Suscipit est atque, modi culpa nulla ipsum natus sequi hic reprehenderit id at quidem dignissimos soluta harum quos aliquid animi voluptates. Placeat, nihil. Ex consequuntur itaque maxime.</p>
            <button class="btn btn-primary">Lorem, ipsum.</button>
        </div>
    </div>
</div>
    